*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
	display: inline-block;
}

ul,  
li{
	list-style: none;
	margin: 0;
	padding: 0;
}

.container{
	max-width: 1024px;
	margin: 0 auto;
	padding: 20px 20px;
}

body{
	font-family: 'Mulish', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #333333;
}

.header__inner{
	display: flex;
	justify-content: space-between;
}

.item__inner{
	display: block;
}

.item__media-image {
	display: flex;
	justify-content: center;
}

.item-image{
	margin-top: 3em;
	width: 70%;
	height: 22em;
	object-fit: cover;
}

.item__textarea{
	text-align: center;
}

.item__title{
	margin-top: 3em;
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 28px;
}

.item__text{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 3em;
}

.text_original-left{
	margin-right: 10em;
	text-align: left;
}

.text_translate-right{
	text-align: left;
}








.footer__inner{
    margin-top: 5em;
	padding: 2em;
    display: flex;
	justify-content: center;
	align-items: center;
}