*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
	display: inline-block;
}

ul,  
li{
	list-style: none;
	margin: 0;
	padding: 0;
}

.container{
	max-width: 1024px;
	margin: 0 auto;
	padding: 20px 20px;
}

body{
	font-family: 'Mulish', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #2b2b2b;
}

.header__inner{
	display: flex;
	justify-content: space-between;
}



.main__items{
    display: flex;
    margin: 2em auto;
	flex-wrap: wrap;
}

.main__item {
    display: block;
	width: 33%;
	margin: 1em 0;
}

.main__item-image{
	object-fit: cover;
	width: 12em;
	height: 8em;
}





.footer__inner{
    margin-top: 5em;
	padding: 2em;
    display: flex;
	justify-content: center;
	align-items: center;
}